/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.footer__text {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.span-author {
  color: #7bc950;
}

.contribute-text {
  margin-bottom: 0;
}

.footer__link {
  color: #fbf5f3;
  border-radius: 2px;
  padding: 0 0.2rem;
}
