/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  &__text {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  &__span--author {
    color: $green-span;
  }

  &__link {
    color: $white-variant;
    border-radius: 2px;
    padding: 0 0.2rem;
  }
}
