/* FORM CONTAINER */

.form-container {
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__text {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 0.4rem;
  }

  &__label {
    cursor: pointer;
    font-size: 2rem;
    padding: 0.6rem;
    border-radius: 55px;

    transition: all 0.2s;

    &:hover {
      background-color: $white-variant;
    }
  }

  &__input {
    display: none;
  }

  &__button {
    cursor: pointer;
    font-size: 2rem;
    background-color: $white-variant;
    color: $black;
    border-radius: 55px;
    padding: 0.2rem 2rem;

    border: none;
  }
}
