*[class^="rem-"] {
  margin-bottom: 0.6rem;
}

.rem-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rem-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0rem 6rem 2rem 6rem;

  position: relative;
}

.rem-h1 {
  font-size: 2rem !important;
}

.rem-h2 {
  font-size: 1.6rem !important;
}

.rem-h3 {
  font-size: 1.4rem !important;
}

.rem-h4 {
  font-size: 1.2rem !important;
}

.rem-h5 {
  font-size: 1rem !important;
}

.rem-h6 {
  font-size: 0.8rem !important;
}

.rem-h1,
.rem-h2,
.rem-h3,
.rem-h4,
.rem-h5,
.rem-h6 {
  text-transform: capitalize !important;
}

.rem-p {
  font-size: 1.2rem;
}

.rem-code {
  font-size: 1rem;
  color: $white;

  display: block;
  background-color: $black-code;

  padding: 0.8rem 1rem;

  border-radius: 4px;
}

.rem-span {
  font-size: inherit;
  background-color: $black-code;
  font-weight: 500;
  border-radius: 6px;
  padding: 0.1rem 0.6rem;

  display: inline-block;
}

.rem-a {
  text-decoration: none;
  font-size: 1rem;
  color: $blue-a;
  font-weight: 500;

  display: inline-block;
}

.rem-blockquote {
  font-size: 1rem;
  position: relative;
}

/* blockquote::before {
    content: ">";
    display: block;
    position: absolute;
  } */

.rem-img {
  background-color: $white;
  max-width: 10%;

  display: block;
}

.rem-hr,
hr {
  border: 1px solid $white;
}
