* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;

  background-image: linear-gradient(
    to bottom right,
    rgba(16, 15, 15, 1),
    rgba(0, 0, 0, 1)
  );

  color: #fbf5f3;
  padding: 2rem 4rem;
  text-transform: capitalize;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;

  height: 100vh;
}

.center-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
