* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  color: $white-variant;

  height: 100vh;

  background-image: linear-gradient(
    to bottom right,
    rgba(16, 15, 15, 1),
    rgba(0, 0, 0, 1)
  );

  padding: 2rem 4rem;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-sizing: border-box;
}
