.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 4rem;

  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__text {
    &--main {
      font-size: 3rem;
    }

    &--sub {
      font-size: 1.8rem;
    }
  }

  &__span {
    color: $orange-span;
  }
}
