doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title REM &mdash; Render Markdown

  body
    section.section.u-mg-top-lg
      div.section-container
        div.text-container
          div.text-container__head
            p.text-container__text--main REM &mdash; Render Markdown
            ion-icon.icon.icon-md(name="logo-markdown")

          p.text-container__text--sub REM produces #[span.text-container__span HTML] by parsing markdown files.

        div.img-container
          img.img.img__md(src="../img/md.png" alt="markdown file image")
          ion-icon.icon.icon-arrow(name="arrow-forward-outline")
          img.img.img__html(src="../img/html.png" alt="html file image")

        div.form-container
          div
            p.form-text Want to look at an elegant version of your markdown?
            p.form-text.u-mg-top-sm then Upload your markdown file now 👉

          form.form(action="upload" method="post" enctype="multipart/form-data")
            div.form-block
              label.form__label(for="file") 📁 
                input.form__input(type="file" name="file" id="file")
            button.form__button Upload

    footer.footer
      p.footer__text  Designed and created by #[span.footer__span--author Suraj].
      p.footer__text.u-mg-bt-zero Contribute on #[a.footer__link(href="https://github.com/surajkareppagol/rem") github].

    script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")