doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    link(rel="icon" type="image/svg" href="../img/favicon.svg")
    title REM &mdash; Render Markdown

  body.u-center-flex.u-height-100-vh
    div.center-container
      div.center-container__container
        p.center-container__text--head  Your file has been parsed successfully.
        p.center-container__text--sub Click here to render it 👇

      p
        a.center-container__link(href="/render-md") 📄

