.icon {
  color: $white-variant;
}

.icon-md {
  width: 48px;
  height: 48px;

  @include respond(phone-sm) {
    display: none;
  }
}

.icon-arrow {
  width: 52px;
  height: 52px;

  @include respond(phone-sm) {
    display: none;
  }
}

/* EXCEPTION */
.rem-icon-p {
  position: absolute;

  top: 0%;
  left: -2%;
}

.rem-emoji-arrow {
  cursor: pointer;

  font-size: 2rem;
  text-decoration: none;

  padding: 1rem;

  border-radius: 55px;

  transition: all 0.2s;

  &:hover {
    background-color: $white-variant;
  }
}
