/* IMAGE CONTAINER */

.section-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 4rem;
}

img {
  display: block;
  border: 2px dashed #fbf5f3;
  max-width: 46%;

  padding: 0.4rem;
}

.icon-arrow {
  color: #fbf5f3;
  width: 52px;
  height: 52px;
}
